body {
    margin : 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 0px solid rgb(34, 34, 219);
}

.logo-content-img {
    background: #4b84ca 0% 0% no-repeat padding-box;
}

.adbk-text {
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    font-family: "Montserrat" , sans-serif;
    letter-spacing: 0px;
    color: #0d8df5;
    text-transform: uppercase;
}

.adbk-book {
    color: #42515F;
}

* { box-sizing: border-box;}

.form-head {
    text-align: center;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
}

.form-head-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #008CFF 0% 0% no-repeat padding-box;
    height: 108px;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
    border-radius: 8px 8px 0px 0px;
}    

.form-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
}

.form {
    width: 65%;
    padding: 20px 30px;
    background:white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #d5dce3;
    border-radius: 8px;
}

label {
    padding: 12px 12px 12px 0;
}

.text {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.input {
    width: 100%;
    padding: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.row-content {
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 30px;
}



